.navbar {
    background-color: aquamarine;
}

.ul {
list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: teal;
}

.li_logo {
  float: left;
  display: block;
  padding: 8px;
  color:white;
  font-size: 18px;
}

.li_logo:hover {
  background-color: white;
  color: teal;
}

.li {
    float: right;
    display: block;
    padding: 8px;
    color: white;
    font-size: 18px;
}

.li:hover {
  background-color: white;
  color: teal;
}