.deleteButton {
  width: 20%;
  padding: 12px 0;
  margin-bottom: 0px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  font-family: inherit;
  font-size: 12px;
  font-weight: 800;
  color:#a63a79;
  border: 0;
  border-radius: 0px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  
}