.forum_body {
    text-align: center;
}

.forum_header {
    text-align: center;
    font-size: xx-large;
    color: white;
    margin-top: 0;
    height: 20%;
    background-image: url(https://images.pexels.com/photos/7666254/pexels-photo-7666254.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://images.pexels.com/photos/7666254/pexels-photo-7666254.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  padding-top: 70px;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 40px;
}

.createButton {
  width: 10%;
  padding: 12px 0;
  margin-bottom: 0px;
  margin-right: auto;
  font-family: inherit;
  font-size: 12px;
  font-weight: 800;
  color: white;
  background-color: white;
  border: 0;
  border-radius: 35px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  background: white;
  background: linear-gradient(to right, #74b49b, #458c4f);
}

.createButton:hover {
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.16);
    transform: translate(0, -5px);
    
}